*{
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
#choose{
    text-align: left;
    padding-top: 2vh;
    margin-left: 420px;
    font-family: 'Sofia', cursive;
font-family: 'Song Myung', serif;
font-size: large;
position: absolute;

left: -48vh;
    width: 28vh;
    font-size: 26px;
    top: 0vh;
}
.rectanglenew {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 400;
    left: 46.4rem;
    line-height: normal;
    text-align: center;
    top: auto;
    white-space: nowrap;
    text-align: left;
    margin-left: 750px;
    margin-top: 40px;
    white-space: nowrap;
    position: absolute;
    top: 10vh;
    left: -3vh;
    word-spacing: 30px;
}

.box1 {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: 1.3rem;
    font-weight: 400;
    left: 47.4rem;
    text-align: center;
    white-space: nowrap;
    width: 14.2rem;
    margin-left: 600px;
    top: 22.3rem;
    left: 3vh;
    margin-bottom: 20px;
    position: absolute;
    top: 3vh;
    word-spacing: 30px;
}
.box2 {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    left: 47.4rem;
    text-align: center;
    white-space: nowrap;
    width: 14.2rem;
    margin-left: 600px;
    top: 22.3rem;
    left: 3vh;
    margin-bottom: 20px;
    position: absolute;
    top: 3vh;
    font-size: 1.3rem;
    word-spacing: 30px;
}
.box3 {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    left: 47.4rem;
    text-align: center;
    white-space: nowrap;
    width: 14.2rem;
    margin-left: 600px;
    top: 22.3rem;
    left: 3vh;
    margin-bottom: 20px;
    position: absolute;
    top: 3vh;
    font-size: 1.3rem;
    word-spacing: 30px;
}
.box4{
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    left: 47.4rem;
    text-align: center;
    white-space: nowrap;
    width: 14.2rem;
    margin-left: 600px;
    top: 22.3rem;
    left: 3vh;
    margin-bottom: 20px; 
    position: absolute;
    top: 3vh;
    font-size: 1.3rem;
    word-spacing: 30px;
}
.box5{
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    left: 47.4rem;
    text-align: center;
    white-space: nowrap;
    width: 14.2rem;
    margin-left: 600px;
    top: 22.3rem;
    left: 3vh;
    margin-bottom: 20px; 
    position: absolute;
    top: 3vh;
    font-size: 1.3rem;
    word-spacing: 30px;
}
.box6{
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: 1.5rem;
    font-weight: 400;
    left: 47.4rem;
    text-align: center;
    white-space: nowrap;
    width: 14.2rem;
    margin-left: 600px;
    top: 22.3rem;
    left: 3vh;
    margin-bottom: 20px; 
    position: absolute;
    top: 3vh;
    font-size: 1.3rem;
    word-spacing: 30px;
}


.pinkbox {
    background-color:
        #d3bfae;
    height:
        100vh;
    width:
        100%;
}
.title1 {
    text-align: left;
    padding-top: 2vh;
    margin-left: 420px;
    font-family: 'Sofia', cursive;
font-size: large;
position: absolute;
left: 0vh;
}
.title2 {
    text-align: left;
    padding-top: 2vh;
    margin-left: 375px;
    font-family: 'Sofia', cursive;
font-family: 'Song Myung', serif;
font-size: larger;
position: absolute;
top: 4vh;
}

.rectangle-22-NCB {
  height: 100vh;
  width: 33%;
  position: absolute;
  right: 0vh;
  top: 0vh;
}
.rectangle0{
    position: absolute;
    bottom: 0vh;
    background-color: #d3bfae;
    height: 3vh;
    top: 16vh;
  right: 100vh;
  word-spacing: 1vh;
}
.rectangle1 {
    text-align: centre;
    background-color: #d9d9d9;
    border: 2px solid #021b14;
    border-radius:
        1.5rem;
    box-sizing:
        border-box;
    height:
        10vh;
        width:
        50vw;
    position:
        absolute;
    top:
        20vh;
    left:
        5vw;
        padding: 1vh;
}
.expresso {
    color: black;
    position: relative;
    top: 0vh;
  left: 3vh;
  font-weight: 100;
  font-size: 5vh;
  font-family: 'Sofia', cursive;
}
.rectangle2 {
    text-align: centre;
    background-color: #d9d9d9;
    border: 2px solid #021b14;
    border-radius:
        1.5rem;
    box-sizing:
        border-box;
    height:
        10vh;
        width:
        50vw;
    position:
        absolute;
    top:
        34vh;
    left:
        5vw;
    padding: 2vh;
}
.americano {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: larger;
    font-weight: 400;
    line-height: 0.0rem;
    position: relative;
    top: 2vh;
  left: 3vh;
    white-space: nowrap;
    font-size: 5vh;
    font-family: 'Sofia', cursive;

}
.rectangle3 {
    text-align: centre;
    background-color: #d9d9d9;
    border: 2px solid #021b14;
    border-radius:
        1.5rem;
    box-sizing:
        border-box;
    height:
        10vh;
        width:
        50vw;
    position:
        absolute;
    top:
        47vh;
    left:
        5vw;
        padding: 2vh;
}
.cappuccino {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: larger;
    font-weight: 400;
    line-height: 0.0rem;
    position: relative;
    top: 2vh;
  left: 3vh;
    white-space: nowrap;
    font-size: 5vh;
}
.rectangle4 {
    text-align: centre;
    background-color: #d9d9d9;
    border: 2px solid #021b14;
    border-radius:
        1.5rem;
    box-sizing:
        border-box;
    height:
        10vh;
        width:
        50vw;
    position:
        absolute;
    top:
        60vh;
    left:
        5vw;
        padding: 2vh;
}
.cafelatte {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: larger;
    font-weight: 400;
    line-height: 0.0rem;
    position: relative;
    top: 2vh;
  left: 3vh;
    white-space: nowrap;
    font-size: 5vh;
}
.rectangle5 {
    text-align: centre;
    background-color: #d9d9d9;
    border: 2px solid #021b14;
    border-radius:
        1.5rem;
    box-sizing:
        border-box;
    height:
        10vh;
        width:
        50vw;
    position:
        absolute;
    top:
        73vh;
    left:
        5vw;
        padding: 2vh;
}
.cafemocha {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: larger;
    font-weight: 400;
    line-height: 0.0rem;
    position: relative;
    top: 2vh;
  left: 3vh;
    white-space: nowrap;
    font-size: 5vh;
}
.rectangle6 {
    text-align: centre;
    background-color: #d9d9d9;
    border: 2px solid #021b14;
    border-radius:
        1.5rem;
    box-sizing:
        border-box;
    height:
        10vh;
        width:
        50vw;
    position:
        absolute;
    top:
        85vh;
    left:
        5vw;
        padding: 2vh;
}
.flatwhite {
    color: #070908;
    font-family: Sofia, 'Source Sans Pro';
    font-size: larger;
    font-weight: 400;
    line-height: 0.0rem;
    position: relative;
    top: 2vh;
  left: 3vh;
    white-space: nowrap;
    font-size: 5vh;
}


/*
.oz-12oz-16oz-tiF {
    color:
        #070908;
    font-family:
        Sofia, 'Source Sans Pro';
    font-size:
        1.6rem;
    font-weight:
        400;
    height:
        2.6rem;
    right:
        70rem;
    line-height:
        1.575;
    position:
        absolute;
    text-align:
        right;
    top:
        17.7rem;
    white-space:
        nowrap;
    width:
        5.6rem;
}

.rectangle-22-NCB {
    border-radius:
        1.5rem 0 0 1.5rem;
    height:
        50.6rem;
    left:
        65rem;
    object-fit:
        cover;
    position:
        absolute;
    top:
        0rem;
    vertical-align:
        top;
    width:
        44.4rem;
}
 */